
 body {
        background: url(https://i.ibb.co/mFNmwYS/Silly-3.png)
        overflow: hidden;
        }
            #box {
            font-size: 60px;
            font-family: monospace;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            text-align: center;
            border-radius: 35px;
            background: url(https://i.ibb.co/vJsMpMv/image.png);
            padding: 20px;
            width: 500px;
            height: 75px;
}

            #pfp { 
            font-size: 60px;
            font-family: monospace;
            position: absolute;
            bottom: 500px;
            transform: translate(138%, 70%);
            text-align: center;
            border-radius: 35px;
            background: url(https://cdn.discordapp.com/avatars/1120931902103224400/25f31eda75388dd017fe055fd069aadc?size=512);
            padding: 200px;
            width: 100px;
            height: 100px;
}

            #who {
            display: block;
            position: absolute;
            font-size: 60px;
            font-family: monospace;
            bottom: 50%;
            left: 50%;
            transform: translate(-49%, 380%);
            text-align: center;
            border-radius: 35px;
            padding: 20px;
            width: 1024px;
            height: 75px;
            background: white;
            z-index: 2;
            cursor: pointer;

}

            #who2 {
            position: -webkit-sticky;
            font-size: 60px;
            font-family: monospace;
            bottom: -11%;
            left: 50%;
            transform: translate(41%, 651%);
            text-align: center;
            border-radius: 35px;
            padding: 20px;
            width: 1024px;
            height: 75px;
            background: #C8C8C8;
            z-index: 1;
}

            #who:hover {
            transform: translate(-48%, 300%);
            bottom: 42%;
            left: 48%
}

            #box2 {
            font-size: 60px;
            font-family: monospace;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 1500%);
            text-align: center;
            border-radius: 35px;
            background: url(https://i.ibb.co/vJsMpMv/image.png);
            padding: 20px;
            width: 500px;
            height: 75px;
            opacity: 0;
}
