
 body {
        background: url(https://i.ibb.co/mFNmwYS/Silly-3.png)
        }
            #box {
            font-size: 60px;
            font-family: monospace;
            position: relative;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            text-align: center;
            border-radius: 35px;
            background: url(https://i.ibb.co/vJsMpMv/image.png);
            padding: 20px;
            width: 500px;
            height: 75px;
            animation-name: sillyload2;
            animation-duration: 1s;
}

            #pfp { 
            font-size: 60px;
            font-family: monospace;
            position: relative;
            bottom: 400px;
            transform: translate(140%, 70%);
            text-align: center;
            border-radius: 35px;
            background: url(https://cdn.discordapp.com/avatars/1120931902103224400/25f31eda75388dd017fe055fd069aadc?size=512);
            padding: 200px;
            width: 100px;
            height: 100px;
            animation-name: sillyload;
            animation-duration: 1s;
}

            #who {
            display: block;
            position: relative;
            font-size: 60px;
            font-family: monospace;
            bottom: 50%;
            left: 50%;
            transform: translate(-49%, -200%);
            text-align: center;
            border-radius: 35px;
            padding: 20px;
            width: 1024px;
            height: 75px;
            background: white;
            z-index: 2;
            cursor: pointer;
            animation-name: sillyload3;
            animation-duration: 1s;

}

            #who2 {
            position: relative;
            font-size: 60px;
            font-family: monospace;
            bottom: -11%;
            left: 50%;
            transform: translate(-47%, -30%);
            text-align: center;
            border-radius: 35px;
            padding: 20px;
            width: 1024px;
            height: 75px;
            background: #C8C8C8;
            z-index: 1;
            animation-name: sillyload4;
            animation-duration: 1s;
}

            #who:hover {
            transform: translate(-50%, -202%);
            bottom: -11%;
            left: 50%
}

            #box2 {
            font-size: 60px;
            font-family: monospace;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 1500%);
            text-align: center;
            border-radius: 35px;
            background: url(https://i.ibb.co/vJsMpMv/image.png);
            padding: 20px;
            width: 500px;
            height: 75px;
            opacity: 0;
}

            #circ {
            position: absolute;
            bottom: -6300%;
            left: 4000%;
            border-radius: 360px;
            background-color: white;
            padding: 20px;
            width: 150px;
            height: 150px;
            text-align: center;
}

            #twitter {
            position: absolute;
            bottom: -7000%;
            left: 2500%;
            border-radius: 360px;
            background-color: rgb(255, 255, 255);
            padding: 20px;
            width: 150px;
            height: 150px;
            opacity: 0;
            transition: opacity 0.3s;
            text-align: center;
}

            #github {
            position: absolute;
            bottom: -7000%;
            left: 2500%;
            border-radius: 360px;
            background-color: rgb(255, 255, 255);
            padding: 20px;
            width: 150px;
            height: 150px;
            opacity: 0;
            transition: opacity 0.3s;
            text-align: center;
}

            #discord {
            position: absolute;
            bottom: -7000%;
            left: 2500%;
            border-radius: 360px;
            background-color: rgb(255, 255, 255);
            padding: 20px;
            width: 150px;
            height: 150px;
            opacity: 0;
            transition: opacity 0.3s;
            text-align: center;
}

            #twitter {
            position: absolute;
            bottom: -7000%;
            left: 2500%;
            border-radius: 360px;
            background-color: rgb(255, 255, 255);
            padding: 20px;
            width: 150px;
            height: 150px;
            opacity: 0;
            transition: opacity 0.3s;
            text-align: center;
}

#circ:hover + #twitter{
    opacity: 1;
}

@keyframes sillyload {
    from { opacity: 0; transform: translate(138%, 10%); }
    to { opacity: 1; transform: translate(140%, 70%); }
}

@keyframes sillyload2 {
    from { opacity: 0; transform: translate(-50%, -60%); }
    to { opacity: 1; transform: translate(-50%, 0%); }
}

@keyframes sillyload3 {
    from { opacity: 0; transform: translate(-49%, 320%); }
    to { opacity: 1; transform: translate(-49%, -200%); }
}

@keyframes sillyload4 {
    from { opacity: 0; transform: translate(41%, 591%); }
    to { opacity: 1; transform: translate(41%, 651%); }
}

.silly {
  position: relative;
  width: 20px;
  height: 20px;
}
